@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
    <div class="bg-white shadow-md rounded p-3 pt-sm-4 pb-sm-5 px-sm-5">
        <h3 class="fw-400 text-center mb-4">Forgot your password</h3>
        <hr class="mx-n3 mx-sm-n5">

        <form id="loginForm" method="post" asp-area="User" asp-controller="Authentication" asp-action="ForgotPasswordPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" required placeholder="Enter Your Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-grid mb-3"><button class="btn btn-primary" type="submit">Send Email</button></div>
        </form>

    </div>
</div>

@section scripts {
    @if (Model.EmailSent == true)
    {
        <script>
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Email Sent',
                subtitle: '',
                body: 'Email is sent to you please check your inbox!'
            })
        </script>
    }
}
