@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
    <div class="bg-white shadow-md rounded p-3 pt-sm-4 pb-sm-5 px-sm-5">
        <h3 class="fw-400 text-center mb-4">Reset your password</h3>
        <hr class="mx-n3 mx-sm-n5">

        <form method="post" asp-area="User" asp-controller="Authentication" asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="userId" type="hidden"/>
            <input asp-for="Token" type="hidden"/>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" required placeholder="Enter Your New Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" required placeholder="Renter Your New Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="d-grid mb-3"><button class="btn btn-primary" type="submit">Reset Password</button></div>
        </form>

    </div>
</div>

@section scripts {
    @if (Model.IsReset == true)
    {
        <script>
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'Reset Password',
                subtitle: '',
                body: 'Password is reset successfully'
            })
        </script>
    }
}

