@{
    ViewData["Title"] = "Confirm Deposit";
}

<h2 class="fw-400 text-center mt-3 mb-4">Deposit Money</h2>
<div class="row">
    <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
        <!-- Request Money Success
        ============================================= -->
        <div class="bg-white text-center shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
            <div class="my-4">
                <p class="text-success text-20 lh-1"><i class="fas fa-check-error"></i></p>
                <p class="text-success text-8 fw-500 lh-1">Fail!</p>
                <p class="lead">Transactions Failed</p>
            </div>
            <div class="d-grid"><a asp-action="Index" class="btn btn-primary">Deposit Money </a></div>
        </div>
        <!-- Request Money Success end -->
    </div>
</div>