@model SettingsViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <!-- List group -->
        <div class="list-group col-md-3" id="myList">
            <a class="list-group-item list-group-item-action @(Model.Tab == null || Model.Tab == "general" ? "active" : "")" asp-action="Index" asp-controller="Settings" asp-route-tab="general" data-method="general">General Settings</a>
            <a class="list-group-item list-group-item-action @(Model.Tab == "referral" ? "active" : "")" asp-action="Index" asp-controller="Settings" asp-route-tab="referral" data-method="referral">referral settings</a>
            <a class="list-group-item list-group-item-action @(Model.Tab == "Paymob" ? "active" : "")">Paymob credentials</a>
            <a class="list-group-item list-group-item-action @( Model.Tab == "Bank" ? "active" : "")">virtual cards api</a>
        </div>

        <!-- Tab panes -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header text-center">
                    <span class="method-title">{title}</span> settings
                </div>
                <div class="card-body tab-content">
                    @if (Model.Tab == null || Model.Tab == "general")
                    {
                        <partial name="sections/_GeneralSettings"  model="Model.GeneralSettings"/>
                    }
                    else if (Model.Tab == "referral")
                    {
                        <partial name="sections/_ReferralSettings" />
                    }

                </div>
            </div>

        </div>

    </div>
</div>

@section scripts{

    @if (ViewBag.IsSuccess == true)
    {
        <script>
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'new method',
                subtitle: 'Created',
                body: 'currency payment method is added successfully'
            })
        </script>
    }
    @if (ViewBag.IsUpdated == true)
    {
        <script>
            $(document).Toasts('create', {
                class: 'bg-success',
                title: 'new method',
                subtitle: 'Updated',
                body: 'currency payment method is updated successfully'
            })
        </script>
    }

    <script>
        $(document).ready(function() {
            let currenct = window.location.href
            //get the selected method
            let start = $(".list-group-item.list-group-item-action.active");
            let currentMethod = start.data("method");

            $(".method-title").text(currentMethod); //change card title

            $(`#${currentMethod}`).show(); // show the tab content

            $(".list-group-item").on("click", function() {
                var selected = $(this);
                var method = selected.data("method")
                $(".method-title").text(method);
            })

            $('#myList a').on('click', function(e) {
                // data-method
                //var item = $(this).data("method");
                //var urlParams = new URLSearchParams(window.location.search);
                //var myParam = urlParams.get('tab');
                //console.log(window.location.href)
                // window.location.href =
            })
        })





    </script>
}