@model ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

    <div class="row">
        <div class="col-md-6 offset-3">
        @if(Model.EmailSent == false)
        {
           <h3 class="text-center"> Reset Your password </h3>
            <br />
            <form method="post">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />
                <button type="submit" class="btn btn-info">Send</button>
            </form>
        }
        else
        {
            <div class="alert alert-success my-3">
                email is sent please check your inbox
            </div>
        }

        </div>
    </div>
