@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row">
    <div class="col-md-6 offset-3">
        @if (Model.IsReset == false)
        {


            <h3 class="text-center">Reset your password</h3>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="userId"/>
              <input type="hidden" asp-for ="Token"/>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" placeholder="new password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="retype your password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Send</button>
            </form>
       } else
            {
                <div class="alert alert-success my-3">
                    password is reset successfully
                </div>
            }
        </div>
    </div>
